<div class="about-info mb-4">
  <h2>About</h2>
  <p>Oxreciprocity is a platform to find matches - romantic or platonic.
    You check boxes, your friends do the same, and we'll let you know when the feeling's mutual.
    You express your interest in up to three people per week, and find out whether it's a match straight away.</p>
</div>