<div class="about-info mb-4">
  <h2>About</h2>
  <h3>How does this work?</h3>
  <p>
    Reciprocity is a platform to find matches - romantic or platonic.
    You check boxes, your friends do the same, and we'll let you know when the feeling's mutual.
    You can express your interest in up to three people per week, and find out whether it's a match straight away.
  </p>
  <h3>Who's behind the website?</h3>
  <p>
    It's a project made with ❤️ by <a href="https://oxheart.love">Oxheart - The Matchmaking Society</a>.
    Things are still in development, so certain features may break! If they do, or you have any feature
    requests or feedback, please let us know at <a href="mailto:reciprocity@oxheart.love">reciprocity@oxheart.love</a>
    and we'll get back to you as soon as we can.
  </p>
  <h3>Is my data private?</h3>
  <p>
    Yep! Oxheart takes your privacy very seriously. We don't share your data with anyone, and we don't store any data that you don't explicitly give us.
    We'll use your information to match you with other users, and that's it. If you want to delete your account, you can do so at any time. 
    Our full privacy policy is available <a href="https://oxheart.love/privacy-policy">here</a>, and if you have any questions,
    please don't hesitate to contact us at <a href="mailto:privacy@oxheart.love">privacy@oxheart.love</a>
  </p>
</div>