<footer class="text-center text-sm-start">
  <div class="row">
    <div class="col-sm-6 mb-2">
      <p class="mb-1"><strong>Oxheart - The Matchmaking Society</strong></p>
      <p class="mb-1 small">
        Registered in England and Wales (15710358)
      </p>
    </div>
    <!-- Adjusting the column size for small devices to fit side by side -->
    <div class="col-sm-3 col-6 mb-2">
      <p class="mb-1 small"><strong>Links</strong></p>
      <ul class="list-unstyled mb-1 small">
        <li>
          <a href="mailto:reciprocity@oxheart.love" class="text-dark">Contact Us</a>
        </li>
        <li>
          <a href="https://oxheart.love/privacy-policy" class="text-dark">Privacy Policy</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-3 col-6 mb-2">
      <p class="mb-1 small"><strong>Follow us</strong></p>
      <ul class="list-unstyled small">
        <li>
          <a href="https://facebook.com/oxheart.society" class="text-dark">Facebook</a>
        </li>
        <li>
          <a href="https://instagram.com/oxheart.society" class="text-dark">Instagram</a>
        </li>
      </ul>
    </div>
</footer>