<nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
  <a href="/" class="navbar-brand">
    <img src="https://oxheart.love/wp-content/uploads/2024/01/Facebook-cover.png" alt="Oxreciprocity logo" class="logo">
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
    <ul class="navbar-nav">
      <% if (!user) { %>
        <li class="nav-item">
          <a class="nav-link" href="mailto:oxreciprocity@oxheart.love">Contact</a>
        </li>
      <% } else if (user.provider === 'facebook'){ %>
        <% if (currentPath !== '/matches/') { %>
          <li class="nav-item">
            <a class="nav-link" href="/matches">My matches</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
        <% } %>
        <li class="nav-item">
          <a class="nav-link" href="mailto:oxreciprocity@oxheart.love">Contact</a>
        </li>
        <li class="nav-item">
          <form action="/auth/logout" method="post" class="d-inline">
            <button class="btn btn-outline-secondary" type="submit">Sign out</button>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          </form>
        </li>
        <li class="nav-item">
          <form id="delete-account-form" action="/account/delete" method="post" class="d-inline">
            <button class="btn btn-danger" type="submit">Delete your account</button>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          </form>
        </li>
      <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="mailto:oxreciprocity@oxheart.love">Contact</a>
        </li>
        <li class="nav-item">
          <form action="/auth/logout" method="post" class="d-inline">
            <button class="btn btn-outline-secondary" type="submit">Sign out</button>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          </form>
        </li>
      <% } %>
    </ul>
  </div>
</nav>