<p> Click below to update your matches. You can only do this once a week!</p>
<form action="/matches" method="post">
  <button class="update-matches" type="submit">Update my matches</button>
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
</form>
<% Object.entries(matches).forEach(function([key, value]) { %>
  <h3><%= key %></h3>
  <% if (value.length > 0) { %>
    <% value.forEach(function(match) { %>
      <p><%= match.name %></p>
    <% }); %>
  <% } else { %>
    <p>No matches found.</p>
  <% } %>
<% }); %>