<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Homepage</title>
	</head>
	<body>
		<p>Thanks for verifying your email. Please now log in with Facebook.</p>
		<a class="button" href="/auth/login">Sign in</a>
        <form action="/auth/logout" method="post">
			<button class="logout" type="submit">Sign out</button>
			<input type="hidden" name="_csrf" value="<%= csrfToken %>">
		</form>
	</body>
</html>
