<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Homepage</title>
</head>

<body>
  <div>
    <h2>Matches</h2>
    <%- include('partials/mutualMatches') %>
  </div>
</body>

</html>