<!doctype html>
<html lang="en">

<%- include('partials/_head', { title: 'Matches' }) %>


<body>
  <%- include('partials/_scripts') %>
  <div class="container mt-4">
    <%- include('partials/_navbar') %>
    <div>
      <h1>Your matches</h1>
      <%- include('partials/_mutualMatches') %>
    </div>
  </div>
</body>

</html>