<!doctype html>
<html lang="en">

<%- include('partials/_head', { title: 'Login' }) %>

<body>
  <div class="container mt-4">
    <%- include('partials/_navbar') %>
      <h1>Welcome to Oxreciprocity</h1>
      <p>To continue, please verify that you are a member of the University of Oxford by logging in with Microsoft.
      </p>
      <a href="/auth/login"><button class="btn mb-3 login-btn ms-login" type="button">Continue with Microsoft</button></a>
      <%- include('partials/_about') %>
  </div>
  <%- include('partials/_scripts') %>
</body>

</html>