<!doctype html>
<html lang="en">

<%- include('partials/_head', { title: 'Test Login' }) %>

<body>
  <div class="container mt-4">
    <%- include('partials/_navbar') %>
    <h1>Welcome to Reciprocity</h1>
    <p>Please log in using the test credentials.</p>
    
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 ps-0">
          <form action="/auth/local" method="post">
            <div class="mb-3">
              <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div>
              <button type="submit" class="btn btn-primary">Log In</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <%- include('partials/_scripts') %>
</html>