.card-container {
  position: relative;
}

.friends-container {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition for hover effects */
  cursor: pointer; /* Changes the mouse cursor to indicate the card is clickable */
}

.friends-container:hover {
  transform: scale(1.05); /* Slightly enlarges the card */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Adds shadow for depth */
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure card height fills parent container */
  background-size: cover;
  background-position: center;
  aspect-ratio: 1; /* Ensure cards are square */
  position: relative;
}

.card::before {
  content: ''; /* Required for the pseudo-element to work */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.35); /* Black with 35% opacity */
  z-index: 1; /* Ensures the overlay is above the background image but below the text content */
}

.card-title {
  text-align: left; /* Aligns the title text to the left */
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Aligns content to the bottom */
  z-index: 2; /* Ensures text content is above the overlay */
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.overlay-content {
  text-align: center;
}

.form-check {
  text-align: left; /* Aligns content to the left */
}

.logo {
  max-width: 100%;
  max-height: 100px;
  height: auto;
}

#message-container {
  display: none; /* Hide initially */
}

@media (max-width: 991px) {
  #message-container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 100%;
    max-width: 600px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    display: block; /* Show on smaller screens */
  }

  .message { /* Message appears at top on smaller screens */
    display: inline-block; 
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: opacity 0.5s ease;
  }
}

.message { /* Message appears inside card on larger screens */
  position: absolute;
  top: 10%;
  left: 5%;
  width: 90%;
  z-index: 10;
  padding: 10px;
  border-radius: 5px;
}

.login-btn {
  color: white; /* Adjust based on background color */
  padding: 10px 20px;
  border: none;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block; /* Ensures proper display with Bootstrap's .btn class */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.login-btn:hover, .login-btn:focus {
  color: white; /* Keep text color consistent */
  text-decoration: none; /* Prevents underline on hover */
}

.fb-login {
  background-color: #1877F2;
}

.fb-login:hover, .fb-login:focus {
  background-color: #165DC0; /* Slightly darker shade of blue for the hover state */
}

.ms-login {
  background-color: #5E5E5E; /* Microsoft logo grey */
}

.ms-login:hover, .ms-login:focus {
  background-color: #7A7A7A; /* Darker shade for hover state */
}

/* For the Delete your account button */
.btn-delete-account:active {
  color: #fff !important; /* White text for visibility */
  background-color: #dc3545; /* Bootstrap's danger color for background */
}